<header>
	<div class="header">
		<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Star_Wars_Logo.svg/2000px-Star_Wars_Logo.svg.png" class="header-image" alt="">
		<div class="left header-left">
			<span class="header-text">Trivia Game</span>
		</div>

		<div class="nav right header-right">
			<ul>
				<li class="text"><a href="/#/home">Home</a></li>
				<li class="text"><a href="/#/rebel">Rebel</a></li>
				<li class="text"><a href="/#/empire">Empire</a></li>
			</ul>
		</div><!-- End of 'nav right header-right' -->
	</div> <!-- End of 'header' -->
</header>