* {
	box-sizing: border-box;
}

html, body {
	background: @base;
	height: 100%;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: @yellow;
}

a {
	text-decoration: none;
	color: @white;
}

.text {
	color: @yellow;
	font-size: 1em;
}

.symbols {
	color: @white;
	font-size: 5em;
	margin: 0 20px;
}

.header {
	display: flex;
}

.header-left {
	width: 40%;
}

.header-right {
	width: 48%;
}

.header-image {
	max-height: 75px;
}

.header-text {
	color: @yellow;
	font-size: 2em;
	margin: auto 0;
}

.title {
	color: @yellow;
	font-size: 8em;
}

.no-margin {
	margin: 0;
}

.center {
	display: flex;
	justify-content: center;
}

.left {
	display: flex;
	justify-content: flex-start;
}

.right {
	display: flex;
	justify-content: flex-end;
}

.nav {
	margin: auto 0;
	li {
		display: inline;
		margin: 0 20px;
		font-size: 1em;
		color: #FFF;
	}
}




























